 .module-border-wrap {
  max-width: 600px;
float:right;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to bottom, darkred, darkblue);
}

        .module {
                float:left;
  background: #222;
  color: white;
}
        a {
    text-decoration: none; /* Убираем подчёркивание */
   }
         p {
    margin-left: 0%;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0em; /* Отступ снизу */
   }
body {
    background: #c7b39b url(hon2.jpg) ;
    color: #fff;}
         table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 7px 11px; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */ 
    text-align: left; /* Выравнивание по правому краю */